*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.piano{
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    user-select: none;
    overflow: hidden;
    position: relative;
}




.piano .keyWhite{
    width: 4rem;
    height: 15rem;
    background: white;
    border-left: 1px solid black;


}

.piano .keyBlack{
    position: absolute;
    top: 0;
    width: 2.5rem;
    height: 10rem;
    background: black;
    border: 1px solid black;
    margin-left: -0.6rem;
    margin-right: -0.6rem;
    z-index: 1;
    border-radius: 0 0 3px 3px;
    color: white;

}

.piano .keyWhite:active{
    background: #ddd;
}

.piano .keyBlack:active{
    background: #333;
}

.piano .keyBlack:nth-of-type(2){ left: calc(4rem - 0.75rem); }
.piano .keyBlack:nth-of-type(4){ left: calc(8rem - 0.75rem); }
.piano .keyBlack:nth-of-type(6){ left: calc(12rem - 0.75rem); }
.piano .keyBlack:nth-of-type(8){ left: calc(16rem - 0.75rem); }
.piano .keyBlack:nth-of-type(10){ left: calc(20rem - 0.75rem); }
.piano .keyBlack:nth-of-type(12){ left: calc(24rem - 0.75rem); }
.piano .keyBlack:nth-of-type(14){ left: calc(28rem - 0.75rem); }
.piano .keyBlack:nth-of-type(16){ left: calc(32rem - 0.75rem); }


.piano .keyWhite , .piano .keyBlack{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0.5rem;
}